/*** page ***/
	/* container */
		#container {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			text-align: center;
			height: 85vh;
			width: 85vw;
			border: 4px solid #111111;
		}

/*** card ***/
	#card {
		position: absolute;
		top: 0%;
		left: 0%;
		width: 100%;
		height: 40%;
		font-size: 100%;
		color: #111111;
		text-overflow: ellipsis;
		text-align: center;
	}

	/* begin */
		#begin {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			font-size: 200%;
			padding: 10px;
		}

		#card:not([round="0"]) #begin {
			display: none;
			pointer-events: none;
		}

	/* again */
		#again {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			font-size: 150%;
			padding: 10px;
			background-color: #111111;
			color: #dddddd;
			text-transform: uppercase;
		}

		#again:hover, #again:focus {
			box-shadow: 0px 0px 25px #111111;
		}

		#card:not([round="4"]) #again {
			display: none;
			pointer-events: none;
		}

	/* word */
		#word {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			padding: 5px;
			width: calc(100% - 10px);
			max-height: calc(100% - 10px);
			font-size: 150%;
			text-transform: uppercase;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			overflow-wrap: break-word;
			-webkit-hyphens: auto;
			-moz-hyphens: auto;
			hyphens: auto;
		}

		#word[flash] {
			transition: 1s;
			text-shadow: 0px 0px 25px #111111;
		}

		#card[ellipsis]:not([round="0"]) #word:after {
			content: "...";
			color: #111111;
		}

		#card[round="1"] #word {
			color: #ff6b69;
		}

		#card[round="2"] #word {
			color: #67b873;
		}

		#card[round="3"] #word {
			color: #7493e4;
		}

	/* switch */	
		#switch {
			position: absolute;
			top: -3vh;
			right: -3vh;
			width: 10vh;
			height: 10vh;
			padding: 5%;
			border-width: 4px;
			background-color: #dddddd;
			background-image: url(./logo.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			text-align: center;
			user-select: none;
			cursor: pointer;
		}

		#switch[active] {
			box-shadow: 0px 0px 25px #111111 inset;
		}

		#card[ellipsis] #switch, #card[phase="0"] #switch {
			display: none;
			pointer-events: none;
		}

/*** player ***/
	.player {
		position: absolute;
		top: 40%;
		left: 0%;
		width: 100%;
		height: 10%;
		font-size: 100%;
		color: #dddddd;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		overflow: hidden;
		text-overflow: ellipsis;
		z-index: 2;
	}

	.player .name {
		float: left;
		text-transform: uppercase;
		padding: 10px;
		width: calc(70% - 20px);
		height: calc(100% - 20px);
	}

	.player .score {
		float: left;
		background-color: #111111;
		color: #dddddd;
		padding: 10px;
		width: calc(30% - 20px);
		height: calc(100% - 20px);
	}

	.player .score[flash] {
		transition: 1s;
		box-shadow: 0px 0px 25px #dddddd inset;
	}

/*** opponents ***/
	#opponents {
		position: absolute;
		top: 50%;
		left: 0%;
		width: 100%;
		height: 50%;
		z-index: 3;
	}

	.opponent {
		float: left;
		margin: 0px;
		width: 50%;
		height: 20%;
		font-size: 80%;
		border: 0px;
		text-align: center;
		cursor: pointer;
		outline: none;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		overflow: hidden;
		text-overflow: ellipsis;
		line-height: 1.25;
	}

	.opponent .name {
		width: calc(100% - 30px);
		height: calc(100% - 30px);
		padding: 5px;
		margin: 10px;
		pointer-events: none;
	}

	.opponent .score {
		width: calc(100% - 30px);
		height: calc(100% - 30px);
		padding: 5px;
		margin: 10px;
		z-index: 2;
		pointer-events: none;
	}

	.opponent .score:not([points]) {
		display: none;
	}

	#card[phase="0"] + .player + #opponents .opponent[selected] {
		box-shadow: 0px 0px 25px #111111 inset;
	}

/*** colors ***/
	[color="red"], [color="red"] div {
		background-color: #ff6b69;	
	}

	[color="orange"], [color="orange"] div {
		background-color: #d89258;	
	}

	[color="yellow"], [color="yellow"] div {
		background-color: #aba14d;	
	}

	[color="green"], [color="green"] div {
		background-color: #67b873;	
	}

	[color="blue"], [color="blue"] div {
		background-color: #7493e4;	
	}

	[color="purple"], [color="purple"] div {
		background-color: #9367b5;	
	}

	[color="magenta"], [color="magenta"] div {
		background-color: #bf466f;	
	}

	[color="cyan"], [color="cyan"] div {
		background-color: #2b838e;	
	}

	[color="brown"], [color="brown"] div {
		background-color: #61483f;	
	}

	[color="gray"], [color="gray"] div {
		background-color: #70767b;	
	}

