/*** page ***/
	/* container */
		#background {
			background-color: #dddddd;
			background-position: center;
			height: 100vh;
			width: 100vw;
			overflow: hidden;
			filter: blur(3px);
			box-shadow: 0px 0px 20px #333333 inset;
		}

		#container {
			position: absolute;
			top: calc(50%);
			left: calc(50%);
			height: 292px;
			width: 600px;
			transform: translateX(-50%) translateY(-50%);
			text-align: center;
			z-index: 2;
			border-radius: 10px;
			background-color: #dddddd;
			box-shadow: 0px 0px 20px #333333;
			border: 4px solid #333333;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
		}

/*** form ***/
	/* title */
		#title {
			margin: 0px;
			padding: 10px;
			width: calc(100% - 20px);
			color: #333333;
			text-align: center;
			font-size: 80px;
			height: 80px;
			line-height: 1;
			cursor: default;
			float: left;
		}

	/* links */
		#links {
			font-weight: bold;
			width: calc(100% - 20px);
			margin: 0px;
			padding: 0px 10px 20px 10px;
			text-align: center;
			font-size: 30px;
			color: #333333;
			line-height: 1;
			float: left;
		}

		#links a, #links a:visited {
			color: #333333;
		}

		#links a:hover, #links a:focus {
			text-shadow: 0px 0px 20px #000000;
		}

	/* form */
		#form {
			text-align: center;
			width: 580px;
			height: 122px;
			float: left;
			padding: 10px;
		}

	/* inputs */
		#createName, #gameCode {
			height: 40px;
			padding: 5px;
			text-align: center;
			vertical-align: bottom;
			background-color: #ffffff;
			border: 3px solid #333333;
			color: #333333;
			font-weight: normal;
		}

		#createName {
			width: 564px;
			border-radius: 5px;
			float: left;
			margin: 0px 0px 10px 0px;
		}

		#gameCode {
			float: left;
			border-radius: 5px 0px 0px 5px;
			width: 214px;
		}

		#createName:focus, #gameCode:focus {
			box-shadow: 0px 0px 20px #333333;
		}

	/* buttons */
		#createGame, #joinGame {
			float: left;
			border: 4px solid #333333;
			color: #ffffff;
			height: 56px;
			width: 170px;
			background-color: #333333;
		}

		#createGame:hover, #joinGame:hover, #createGame:focus, #joinGame:focus {
			box-shadow: 0px 0px 25px #333333;
		}

		#createGame {
			border-radius: 5px;
			margin: 0px 10px 0px 0px;
		}

		#joinGame {
			border-radius: 0px 5px 5px 0px;
			margin-left: 0px;
		}

